.wrapper {
    text-align: center;
    border: black 3px solid;
    background: darksalmon;
    width: 500px;
    margin: auto;
}

.mathActions {
    padding: 10px;
    margin: 10px;
}

.inputs {
    padding: 10px;
    margin: 10px;
}
